<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 与 对应的 映射接口 的 全类名 必须保持一致 -->
<mapper namespace="com.yc.mybatis.mapper.FavoriteMapper">

	<resultMap type="Favorite" id="FavoriteMap">
		<id property="f_id" column="f_id" />
		<result property="f_label" column="f_label" />
		<result property="f_url" column="f_url" />
		<result property="f_tags" column="f_tags" />
		<result property="f_desc" column="f_desc" />
	</resultMap>

	<select id="getAllFav" resultMap="FavoriteMap">
		select * from FAVORITE
	</select>

	<resultMap type="Tag" id="TagMap">
		<id property="t_id" column="t_id" />
		<result property="t_name" column="t_name" />
		<result property="t_count" column="t_count" />
	</resultMap>

	<select id="getAllTag" resultMap="TagMap">
		select * from TAG
	</select>

	<insert id="doAdd" parameterType="com.yc.mybatis.entity.Favorite">
		insert into FAVORITE values (seq_f_id.nextval,#{f_label},#{f_url},#{f_tags},#{f_desc})
	</insert>

	<select id="selectFav" resultMap="FavoriteMap">
		select * from FAVORITE where f_tags like #{f_tags}
	</select>

	<select id="selectAllFav" resultMap="FavoriteMap">
		select * from FAVORITE
	</select>

	<select id="selectSingleFav" resultMap="FavoriteMap">
		select * from FAVORITE where f_tags is null
	</select>

	<select id="selectSingleTag" parameterType="String" resultType="int">
		select * from TAG where t_name = #{t_name}
	</select>

	<update id="updateTag" parameterType="com.yc.mybatis.entity.Tag">
		update TAG set
		t_count=t_count+1 where t_name=#{t_name}
	</update>

	<insert id="insertTag" parameterType="com.yc.mybatis.entity.Tag">
		insert into TAG values (seq_t_id.nextval,#{t_name},'1')
	</insert>


</mapper>